@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}

:root {
    --cor1: #007AFF;
    --cor2: #0056b3;
    --cor3: #004794;
    --cor4: #0059FF;
    --cor5: #1039A1;
    --cor6: #EFEFEF;
    --cor7: #D4D4D4;
    --cor8: #B4ACAC;
    --cor9: #474545;
    --cor10: #141313;
    --fontpad: "Jersey 15", sans-serif;
}

body {
    font-family: var(--fontpad);
}

#menu {
    background-color: var(--cor1);
    padding: 50px 0px 20px 50px;
    margin: auto;
}
    #menu h1 {
        color: #ffffff;
        text-indent: 50px;
        font-size: 3em;
    }
    #menu p {
        background-color: #ffffff;
        min-width: 270px;
        max-width: 500px;
        padding: 5px 0px;
        border-radius: 15px;
        text-align: center;
        position: relative;
        left: 900px;
        top: -30px;
    }

nav {
    background-color: var(--cor1);
    padding: 10px 10px 10px 10px;
}
    nav a{
        font-size: 2em;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        color: #ffffff;
        text-decoration: none;
        transition-duration: 0.1s;
    }
    nav a:hover {
        background-color: var(--cor2);
        color: var(--cor7);
        border-radius: 5px 5px 0px 0px;
        transition-duration: 0.1s;
    }
    nav a:active {
        background-color: var(--cor3);
        color: var(--cor8);
    }

main {
    height: 1000px;
    min-width: 270px;
    max-width: 1500px;
    background-color: #ffffff;
    margin: auto;
    padding: 50px 10px 0px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
    position: relative;
}
    main p {
        max-width: 300px;
        padding-bottom: 20px;
    }
    main a{
        text-decoration: none;
        color: var(--cor9)
    }
        main a:hover {
            text-decoration: underline;
        }
        main a:active {
            color: #000000;
        }

.links {
    width: 400px;
}
    .links p {
    color: #000000;
    width: 250px;
    }
    .links .saldo {
        color: var(--cor1);
    }
    .links .saldo1 {
        color: var(--cor1);
        font-size: 2em;
    }

.boxes{
    max-width: 450px;
}
    .rec1 {
    padding: 3px 10px;
    border: 4px solid var(--cor8);
    border-radius: 15px;
    position: relative;
    }
    .rec2 {
    padding: 3px 10px;
    border: 4px solid var(--cor8);
    border-radius: 15px;
    position: relative;
    left: 15px;
    }
    .rec3 {
    padding: 3px 10px;
    border: 4px solid var(--cor8);
    border-radius: 15px;
    position: relative;
    left: 200px;
    top: -15px;
    }
        .rec:hover {
        text-decoration: none;
        transition-duration: 0.1s;
        }
        .rec:active {
        background-color: var(--cor8);
        border-color: var(--cor9);
        color: #000000;
        }

.forms {
    background-color: var(--cor6);
    color: var(--cor9);
    min-width: 270px;
    max-width: 1010px;
    position: relative;
    left: 254px;
    top: -585px;
    height: 1049px;
    margin: auto;
}
    .forms > header > p {
        padding-left: 20px;
    }
    .forms h2 {
        color: #000000;
        padding-top: 10px;
        padding-bottom: 7px;
        padding-left: 20px;
    }
    .forms h3 {
        color: #000000;
        padding-top: 8px;
        padding-bottom: 40px;
        padding-left: 20px;
    }
    .forms > article > ul {
        padding: 40px;
        columns: 2;
    }
    .forms > article > ul > li {
        background-color: #ffffff;
        color: var(--cor8);
        margin-bottom: 40px;
        padding: 10px;
        border-radius: 20px;
        max-width: 200px;
        list-style-type: none;
    }
    .data {
        background-color: #ffffff;
        margin: 10px 0px;
        padding: 10px 5px 10px 10px;
        border-radius: 20px;
        max-width: 200px;
    }
    .masc {
        position: relative;
        left: 60px;
        top: -17px;
    }
    .fem {
        position: relative;
        left: 60px;
        top: -17px;
    }
    .sexo {
        position: relative;
        left: 60px;
        top: -17px;
    }

.forms .marcador {
    display: block;
    background-color: white;
    margin: 0px 20px;
    width: 10px;
    height: 10px;
    border: 5px solid var(--cor1);
    border-radius: 10px;
}
    .forms .marcador:active {
    background-color: var(--cor1);
    }
    .forms .data {
        color: #000000;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .forms .salvar {
        display: block;
        background-color: var(--cor4);
        color: #ffffff;
        text-align: center;
        padding: 10px;
        max-width: 200px;
        border-radius: 20px;
        margin-top: 60px;
        text-decoration: none;
        position: relative;
        left: 370px;
    }
        .forms .salvar:active {
            background-color: var(--cor5);
            color: var(--cor6);
        }

aside {
    background-color: var(--cor5);
    height: 90px;
    margin-bottom: 7px;
}
    .msg {
        color:#ffffff;
        padding: 20px 10px;
        width: 220px;
    }
    .white1 {
        background-color: #ffffff;
        font-size: 1.2em;
        color: var(--cor8);
        width: 300px;
        padding: 10px 10px;
        border-radius: 20px;
        position: relative;
        left: 400px;
        top: -50px;
    }
    .white2 {
        background-color: #ffffff;
        font-size: 1.2em;
        color: var(--cor8);
        width: 400px;
        padding: 10px 10px;
        border-radius: 20px;
        position: relative;
        left: 900px;
        top: -87px;
    }
    .link2 {
        background-color: var(--cor9);
        font-size: 1.2em;
        color: #ffffff;
        text-decoration: none;
        padding: 10px;
        border-radius: 20px;
        position: relative;
        left: 1600px;
        top: -115px;
    }
        .link2:hover {
            text-decoration: underline;
        }
        .link2:active {
            background-color: #302f2f;
            color: var(--cor8);
        }

footer {
    background-color: var(--cor5);
    height: 200px;
    color: #ffffff;
    position: relative;
}
    footer > ul {
        padding: 30px;
        list-style-type: none;
        columns: 3;
        width: 800px;
    }
    footer > ul > li {
        width: 100px;
        padding: 2px;
    }
        footer > ul > li a {
            width: 100px;
            color: #ffffff;
            text-decoration: none;
        }
            footer > ul > li a:hover {
                text-decoration: underline;
            }
    footer > p {
        position: absolute;
        left: 1000px;
        top: 15px;
        font-size: 1.5em;
    }
    .redes {
        position: absolute;
        font-size: 2.2em;
        left: 1590px;
        top: 15px;
    }