@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}

:root {
    --cor1: #007AFF;
    --cor2: #0056b3;
    --cor3: #004794;
    --cor4: #0059FF;
    --cor5: #1039A1;
    --cor6: #EFEFEF;
    --cor7: #D4D4D4;
    --cor8: #B4ACAC;
    --cor9: #474545;
    --cor10: #141313;
    --fontpad: "Jersey 15", sans-serif;
}

body{
    font-family: var(--fontpad);
}

#menu{
    background-color: var(--cor1);
    padding: 50px 0px 20px 50px;
    margin: auto;
}

#menu h1{
    color: #ffffff;
    text-indent: 50px;
    font-size: 3em;
}

#menu p{
    background-color: #ffffff;
    min-width: 270px;
    max-width: 500px;
    padding: 5px 0px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    left: 900px;
    top: -30px;
}

nav{
    background-color: var(--cor1);
    padding: 10px 10px 10px 10px;
}

nav a {
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
    transition-duration: 0.1s;    
}

nav a:hover{
    background-color: var(--cor2);
    color: var(--cor7);
    border-radius: 5px 5px 0px 0px;
    transition-duration: 0.1s;
}

nav a:active{
    background-color: var(--cor3);
    color: var(--cor8);
}

.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display:none;
}

.slide{
  width: 25%;
  position: relative;  
}

.slide img{
    width: 800px;
}

.manual-navegation{
    position: relative;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:Last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navegation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navegation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navegation-auto .auto-btn2{
    background-color: #fff;
}


#radio3:checked ~ .navegation-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navegation-auto .auto-btn4{
    background-color: #fff;
}

.categoria0{
 color: #1039A1;;
    text-indent: 50px;
    font-size: 1em;
    text-align: center;
}

.Categorias{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.categoria1{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categoria2{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categoria3{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categoria4{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categoria5{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}.categoria6{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.destaque-semana{
    color: #004794;
    padding: 30px 0;
    text-align: center;

}

.titulo-destaque{
    font-size: 40px;
    font-weight: 900;
    color: #0A57FF;
    margin-bottom: 40px;
}

.cards-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    

}

.card-produto{
    width: 230px;
    background: #fff;
    border-radius: 20px;
    border: 2px solid #eee;
    padding: 15px;
    text-align: center;
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
    transition: .2s;
}

.card-produto:hover{
    transform: translateY(-6px);
}

.produto-img{
    width: 102px;
    height: auto;
    margin-bottom: 10px;
}

.produto-nome{
    font-size: 14px;
    font-weight: 700;
    height: 40px;
}

.produto-marca{
    font-size: 12px;
    color:#666;
    margin: 6px 0 12px 0;
}

.compre{
    display: inline-block;
    margin-bottom: 15px;
    color: #FF4DA6;
    font-weight: 600;
    text-decoration: none;
}

.precos{
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    font-size: 12px;
    margin-bottom: 6px;
}

.de{
    color:#999;
    text-decoration: line-through;
}

.desconto{
    background: #FFD300;
    padding: 2px 8px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 11px;
}

.preco-final{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
}

.btn-add{
    background-color: #0A57FF;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

.btn-add:hover{
    background: #0846d8;
}

aside {
    background-color: var(--cor5);
    height: 90px;
    margin-bottom: 7px;
}
    .msg {
        color:#ffffff;
        padding: 20px 10px;
        width: 220px;
    }
    .white1 {
        background-color: #ffffff;
        font-size: 1.2em;
        color: var(--cor8);
        width: 300px;
        padding: 10px 10px;
        border-radius: 20px;
        position: relative;
        left: 400px;
        top: -50px;
    }
    .white2 {
        background-color: #ffffff;
        font-size: 1.2em;
        color: var(--cor8);
        width: 400px;
        padding: 10px 10px;
        border-radius: 20px;
        position: relative;
        left: 900px;
        top: -87px;
    }
    .link2 {
        background-color: var(--cor9);
        font-size: 1.2em;
        color: #ffffff;
        text-decoration: none;
        padding: 10px;
        border-radius: 20px;
        position: relative;
        left: 1600px;
        top: -115px;
    }
        .link2:hover {
            text-decoration: underline;
        }
        .link2:active {
            background-color: #302f2f;
            color: var(--cor8);
        }

footer {
    background-color: var(--cor5);
    height: 200px;
    color: #ffffff;
    position: relative;
}
    footer > ul {
        padding: 30px;
        list-style-type: none;
        columns: 3;
        width: 800px;
    }
    footer > ul > li {
        width: 100px;
        padding: 2px;
    }
        footer > ul > li a {
            width: 100px;
            color: #ffffff;
            text-decoration: none;
        }
            footer > ul > li a:hover {
                text-decoration: underline;
            }
    footer > p {
        position: absolute;
        left: 1000px;
        top: 15px;
        font-size: 1.5em;
    }
    .redes {
        position: absolute;
        font-size: 2.2em;
        left: 1590px;
        top: 15px;
    }