@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}

:root {
    --cor1: #007AFF;
    --cor2: #0056b3;
    --cor3: #004794;
    --cor4: #0059FF;
    --cor5: #1039A1;
    --cor6: #EFEFEF;
    --cor7: #D4D4D4;
    --cor8: #B4ACAC;
    --cor9: #474545;
    --cor10: #141313;
    --fontpad: "Jersey 15", sans-serif;
}

body {
    font-family: var(--fontpad);
}

#menu {
    background-color: var(--cor1);
    padding: 30px;
    display: flex; /* cria uma caixa flexível */
    flex-wrap: wrap; /* permite quebrar o conteúdo para o celular */
    align-items: center; /* centraliza o menu verticalmente */
    gap: 20px; /* deixa um espaço(gap) entre os itens */
    position: relative;
}
    #menu h1 {
        color: #ffffff;
        font-size: 2.5em; /* 3em fica muito grande no celular */
        flex: 1; /* cada valor equivale a:
                    grow(crescer e ocupar o espaço)
                    shrink(diminuir em certos espaços)
                    basis(tamanho padrão do flex) */ 
    }
    
    #menu img {
        padding: 0px 10px;
    }

    .pesq {
        background-color: #ffffff;
        max-width: 600px;
        padding: 10px;
        border-radius: 15px;
        text-align: center;
        flex: 1;
        border: 0px;
    }

.barra {
    display: flex; /* cria um caixa flexível */
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 50px;
    text-align: left;
    background-color: var(--cor1);
}
    .barra a{
        font-size: 1.5em;
        padding: 8px 16px;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px 5px 0px 0px;
        transition-duration: 0.1s;
    }
    .barra a:hover {
        background-color: var(--cor4);
        color: var(--cor6);
        transition-duration: 0.1s;
    }
    .barra a:active {
        background-color: var(--cor5);
        color: var(--cor8);
    }

main {
    display: grid; /* cria uma grade de layout do site para         encaixar as caixas */
    grid-template-columns: 350px 1fr; /* define a coluna lateral (300px) e a segunda coluna (1fr) ocupa todo o espaço restante
    fr = fração do espaço disponível */
    gap: 20px;
    max-width: 1500px;
    background-color: #ffffff;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
    position: relative;
}
    main p {
        max-width: 300px;
        padding: 15px 0px;
        margin-left: 45px;
    }
    main a{
        text-decoration: none;
        color: var(--cor9)
    }
        main a:hover {
            text-decoration: underline;
        }
        main a:active {
            color: #000000;
        }

.links {
    width: 100%; /* ocupa 100% do espaço setado */
    max-width: 350px;
    padding: 20px 10px;
    flex: 1;
}
    .links p {
    color: #000000;
    width: 250px;

    }
    .links .saldo {
        color: var(--cor1);
        margin-left: 84px;
    }
    .links .saldo1 {
        color: var(--cor1);
        font-size: 2em;
        margin-left: 80px;
        padding: 3px;
    }
    .links .ola {
        margin-left: 74px;
        padding: 8px;
    }

.boxes{
    display: flex;
    gap: 10px;
    max-width: 450px;
}
    .rec {
    color: var(--cor1);
    max-width: 70px;
    text-align: center;
    padding: 3px 10px;
    border: 4px solid var(--cor8);
    border-radius: 15px;
    margin-bottom: 20px;
    }
        .rec:hover {
        text-decoration: none;
        transition-duration: 0.1s;
        }
        .rec:active {
        background-color: var(--cor8);
        border-color: var(--cor9);
        color: #000000;
        }

.forms {
    background-color: var(--cor6);
    color: var(--cor9);
    width: 100%;
    padding: 20px 0px;
    position: relative;
    flex: 1;
}
    .forms > header > p {
        padding-left: 20px;
    }
    .forms h2 {
        color: #000000;
        padding-top: 10px;
        padding-bottom: 7px;
        padding-left: 20px;
    }
    .forms h3 {
        color: #000000;
        padding-top: 8px;
        padding-bottom: 40px;
        padding-left: 20px;
    }
    .forms > article > ul {
        padding: 40px;
        columns: 2;
    }

    .forms > article > ul > li {
        list-style-type: none;
    }
    .dado {
        background-color: #ffffff;
        color: var(--cor8);
        margin-bottom: 40px;
        padding: 10px;
        border-radius: 20px;
        max-width: 200px;
        list-style-type: none;
        border: 0px;
    }
    .data {
        background-color: #ffffff;
        padding: 10px;
        border-radius: 20px;
        max-width: 200px;
        border: 0px;
    }
    .masc {
        display: flex;
        gap: 15px;
        padding-left: 40px;
    }
    .fem {
        display: flex;
        gap: 15px;
        padding-left: 40px;
    }
    .sexo {
        display: flex;
        gap: 15px;
        padding-left: 40px;
    }

.forms .marcador {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 5px;
    width: 10px;
    height: 10px;
    border: 5px solid var(--cor1);
    border-radius: 10px;
}
    .forms .marcador:active {
    background-color: var(--cor1);
    }
    .forms .data {
        color: #000000;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .forms .salvar {
        display: block;
        background-color: var(--cor4);
        color: #ffffff;
        text-align: center;
        padding: 10px;
        max-width: 180px;
        border-radius: 20px;
        margin-left: 400px;
        flex: 1;
    }
        .forms .salvar:active {
            background-color: var(--cor5);
            color: var(--cor6);
        }

aside {
    background-color: var(--cor5);
    height: 80px;
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    gap: 40px;
    margin-bottom: 7px;
}
    .msg {
        color:#ffffff;
        padding: 20px 10px;
        width: 220px;
    }
    .white {
        background-color: #ffffff;
        font-size: 1em;
        color: var(--cor8);
        width: 300px;
        padding: 10px 10px;
        border-radius: 20px;
        flex: 1;
        border: 0px;
    }
    
    
    .link {
        background-color: var(--cor9);
        font-size: 1.2em;
        color: #ffffff;
        text-decoration: none;
        padding: 10px;
        border-radius: 20px;
        margin-right: 10px;
    }
        .link2:hover {
            text-decoration: underline;
        }
        .link2:active {
            background-color: #302f2f;
            color: var(--cor8);
        }

footer {
    background-color: var(--cor5);
    max-height: 300px;
    color: #ffffff;
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    position: relative;
}
    footer > ul {
        padding: 10px;
        list-style-type: none;
        columns: 3;
        width: 550px;
    }
    footer > ul > li {
        width: 120px;
        padding: 1px;
    }
        footer > ul > li a {
            width: 100px;
            color: #ffffff;
            text-decoration: none;
        }
            footer > ul > li a:hover {
                text-decoration: underline;
            }
    .code {
        font-size: 1.5em;
        flex: 1;
        margin-bottom: 80px;
        margin-left: 85px;
    }
    .redes {
        flex: 1;
        font-size: 1.5em;
        margin-right: 10px;
        margin-bottom: 80px;
        text-align: center;
        width: 150px;
    }
    
.QR {
    background-color: white;
    padding: 2px;
    margin-top: 5px;
    margin-left: 35px;
    flex: 1;
}
.heart {
    margin-right: 10px;
}
.user {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 40px;
    margin: 10px;
    border: 12px solid white;
    outline: 4px solid var(--cor1);
    position: absolute;
    left: 10px;
    top: 30px;
}
.friends {
    position: absolute;
    left: 0px;
    top: 220px;
    margin-left: 10px;
}
.order {
    position: absolute;
    left: 0px;
    top: 265px;
    margin-left: 10px;
}
.care {
    position: absolute;
    left: 0px;
    top: 315px;
    margin-left: 10px;
}
.star {
    position: absolute;
    left: 0px;
    top: 355px;
    margin-left: 10px;
}
.personal {
    position: absolute;
    left: 0px;
    top: 405px;
    margin-left: 10px;
}
.cards {
    position: absolute;
    left: 0px;
    top: 445px;
    margin-left: 10px;
}
.adress {
    position: absolute;
    left: 0px;
    top: 495px;
    margin-left: 10px;
}
.sac {
    position: absolute;
    left: 0px;
    top: 540px;
    margin-left: 10px;
}
.password {
    position: absolute;
    left: 0px;
    top: 590px;
    margin-left: 10px;
}
.exit {
    position: absolute;
    left: 0px;
    top: 635px;
    margin-left: 10px;
}

.filter {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    text-align: left;
    margin-bottom: 60px;
}

    .filter > button {
        border: 3px solid var(--cor1);
        padding: 5px 70px;
        text-align: center;
        border-radius: 20px;
        margin-left: 40px;
    }
        .filter > button:active {
            background-color: var(--cor7);
            border: 3px solid var(--cor3);
        }

    .search {
        border: 3px solid var(--cor1);
        padding: 5px 70px;
        text-align: center;
        border-radius: 20px;
        margin-left: 20px;
        max-width: 200px;
    }

.pedidos {
    list-style: inside;
    list-style-type: decimal-leading-zero;
    text-indent: 60px;
    border: 5px solid var(--cor1);
    padding: 10px;
    padding-left: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 150px;
    max-width: 565px;
    position: relative;
}
    .pedidos > p {
        position: absolute;
        top: 0px;
        left: 20px;
        font-size: 1.2em;
        padding-top: 0px;
        margin-top: 7px;
        margin-left: 30px;
    }

    .pedidos > img {
        margin-top: 15px;
        margin-bottom: 5px;
        width: 50px;
        height: 50px;
        border: 3px solid var(--cor1);
        border-radius: 60px;
        margin-left: -20px;
    }

    .pedidos > .first {
        margin-left: 0px;
    }

    .pedir h1 {
        margin-top: 20px;
        margin-bottom: 60px;
        margin-left: 20px;
    }

hr {
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.detail {
    color: var(--cor10);
    margin-left: 90px;
    font-size: 1.3em;
    margin-right: 90px;
    flex: 1;
}

.buy {
    background-color: var(--cor1);
    color: #ffffff;
    max-width: 100px;
    padding: 5px 25px;
    border-radius: 25px;
    margin-left: 90px;
    flex: 1;
    text-decoration: none;
}
    .buy:hover{
        text-decoration: none;
    }
    .buy:active {
        text-decoration: none;
        color: var(--cor8);
        background-color: var(--cor3);
    }

.pedidos > .total {
    position: absolute;
    top: 57px;
    left: 320px;
    font-size: 2.3em;
}

.pedidos > .valor {
    position: absolute;
    top: 68px;
    left: 410px;
    font-size: 1.2em;
}



